/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #E0BBE4, #957DAD);
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: rgba(17, 17, 17, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: aliceblue;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="radio"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input[type="radio"] {
    width: auto;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #5A189A;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4C148A;
}

.result-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.result-details {
    text-align: left;
    margin-bottom: 20px;
}

.result-details p {
    margin: 5px 0;
}
audio{
    width: 85%;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="radio"] {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
 @media print {
   .a{
    display: none;
    
   }
 }